# Stellar Network Configuration
NEXT_PUBLIC_STELLAR_NETWORK=TESTNET
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org:443
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_FRIENDBOT_URL=https://friendbot.stellar.org

# AegisMint Verified Testnet Contracts
NEXT_PUBLIC_FACTORY_CONTRACT_ID=CB7VZCJWUBZZFAFYZYSPATZEOFUZKP2PJ2DNRA6KVC5HYN3FFY5AJ5NP
NEXT_PUBLIC_ESCROW_CONTRACT_ID=CAEZQ7WGOHF2EPJILURGYTL22JS6AXWCTN7UW6ZPBOQRJ4J24CRUFIIG
NEXT_PUBLIC_USTB_CONTRACT_ID=CDMXSOPMD6Q4FI6ZQTPT3DRR363ZQXKT5Z5GZYIPI7D3LPTP5AQMD3UJ
NEXT_PUBLIC_AUSD_CONTRACT_ID=CCGITDPYWMXF7APRVJI2ABTL6UJOCJWMWHSZU6WMN4ONGZJJJHOQHJX3
NEXT_PUBLIC_CRE_CONTRACT_ID=CANWJ5TDZBSH7QSHNJ7WSRINBKZEU3Z7DRUFAKN6KOQVQRHXJG3THQU7
